.introduction
  @include backgroundToFont($darkFontColor)
  padding-top: 100px
  padding-bottom: 2em
  display: flex
  align-items: center

.introduction__header
  text-align: left
  font-size: clamp(40px, 7vw, 80px)

.introduction__intro
  font-size: 1.1em
  text-align: left

.introduction__special
  color: $colorPrimary
  font-size: clamp(40px, 7vw, 70px)

.introduction p, .experience p
  font-weight: normal
  text-align: left
  font-family: $textFont, sans-serif

.introduction__text
  text-align: left
  max-width: 30em
  font-size: 1.1em
  margin: 20px 0 0

.introduction__container
  width: 100%
  padding: 1em 1em 0 1em
  display: flex
  flex-direction: column
  align-items: flex-start

.introduction__button
  margin: 2em 0 0
