@import url(https://fonts.googleapis.com/css?family=Josefin+Slab)
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans)

@function contrastingColor($bgcolor)
  @if lightness($bgcolor) < 35
    @return $lightFontColor
  @else
    @return $darkFontColor

@mixin backgroundToFont($background)
  color: contrastingColor($background)
  background-color: fade-out($background, 0.05)


@import './variables'
@import './header/_header'
@import './body/_body'
@import './footer/_footer'

.App
  text-align: center

.App-logo
  animation: App-logo-spin infinite 20s linear
  height: 80px

.App-header
  background-color: #222
  height: 150px
  padding: 20px
  color: white

.App-intro
  font-size: large

*
  box-sizing: border-box

h1
  margin: 0
  font-family: $headerFont, serif
  font-size: 3em
  text-shadow: 0px 2px 4px rgba(0,0,0,0.15)

body
  width: 100%
  margin: 0
  background: url("../images/IMG_1871.JPG") no-repeat center center fixed
  background-attachment: fixed
  background-size: cover

.anchor
  display: block
  height: 2.8em /*same height as header*/
  margin-top: -2.8em /*same height as header*/
  visibility: hidden

.column
  float: left
  border-radius: 5px
  text-align: center

.row:before, .row:after
  content: ''
  display: table

.row:after
  clear: both

.row, .column
  box-sizing: border-box

.column-1
  width: 6.333%
.column-2
  width: 14.66%
.column-3
  width: 23%
.column-4
  width: 31.33%
.column-5
  width: 39.66%
.column-6
  width: 48%
.column-7
  width: 56.33%
.column-8
  width: 64.66%
.column-9
  width: 73%
.column-10
  width: 81.33%
.column-11
  width: 89.66%
.column-12
  width: 98%

.middle > .column
  height: 400px
  line-height: 400px

.header > .column,
.footer > .column
  padding: 25px

.header ul
  margin: auto

.header li
  display: inline-block
  list-style-type: none

@media only screen and (max-width: 480px)
  .column
    margin: 1% 0 1% 0%
    width: 100%
//
//
// @keyframes App-logo-spin
//   from transform: rotate(0deg)
//   to transform: rotate(360deg)
