@import url(https://fonts.googleapis.com/css?family=Varela+Round);
@import url(./core.css);
nav {
  position: relative;
  text-align: center;
  z-index: 100; }

.header-last-name {
  color: #63a313; }

.headerNav {
  background-color: #1a242f;
  position: fixed;
  width: 100%;
  top: 0;
  height: 100px;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1); }

.headerNav__scrolled {
  transform: translateY(calc(100px * -1)); }

.links {
  display: inline-block;
  margin: 0 1.25em; }

.header-name {
  color: #E5E5E5;
  font-size: 2em; }

.nav-links {
  float: right;
  height: 100%;
  display: flex;
  align-items: center; }

.nav-links a {
  font-family: "Varela Round", sans-serif, serif;
  text-decoration: none;
  color: #E5E5E5;
  transition: color ease 0.33s; }
  .nav-links a:hover {
    color: #63a313; }

@media only screen and (max-width: 675px) {
  .nav-links {
    display: none; } }

@media only screen and (max-width: 500px) {
  .header-name {
    padding: 0;
    margin: 0 auto;
    float: none; }
  .headerNav {
    padding-left: 0;
    padding-right: 0;
    width: calc(100% - 50px); } }

.skills {
  margin: 0;
  padding-top: 2%; }

.skills, .prior-head {
  font-size: 2em; }

.skills-paragraph {
  line-height: 1.3em;
  padding-top: 1% !important; }

.prior-head {
  margin: 0;
  padding-top: 4%; }

.prior {
  line-height: 125%;
  margin: 0;
  padding: 0; }

.introduction {
  color: #E5E5E5;
  padding-top: 100px;
  padding-bottom: 2em;
  display: flex;
  align-items: center; }

.introduction__header {
  text-align: left;
  font-size: clamp(40px, 7vw, 80px); }

.introduction__intro {
  font-size: 1.1em;
  text-align: left; }

.introduction__special {
  color: #63a313;
  font-size: clamp(40px, 7vw, 70px); }

.introduction p, .experience p {
  font-weight: normal;
  text-align: left;
  font-family: "Varela Round", sans-serif, sans-serif; }

.introduction__text {
  text-align: left;
  max-width: 30em;
  font-size: 1.1em;
  margin: 20px 0 0; }

.introduction-pic {
  width: 22em;
  height: auto;
  vertical-align: middle; }

.introduction-pic-container {
  position: relative; }

.introduction-pic-container::after {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  box-shadow: 0 0 0 1em rgba(255, 255, 255, 0.5) inset;
  left: 0; }

.introduction__container {
  width: 100%;
  padding: 1em 1em 0 1em;
  display: flex;
  flex-direction: column;
  align-items: flex-start; }

.introduction__button {
  margin: 2em 0 0; }

.portfolio {
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center;
  color: #E5E5E5; }

.portfolio-paragraph {
  margin-bottom: .3em;
  padding: 0;
  font-family: "Varela Round", sans-serif, sans-serif;
  font-size: 1.5em; }

.main-project {
  margin: 2em auto;
  display: flex;
  align-items: center; }

.second-projects {
  display: flex;
  flex-direction: column; }

.main-portfolio-image {
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.75); }

.portfolio-image {
  height: 100%;
  width: 100%; }

.main-portfolio-image {
  height: auto;
  width: auto;
  max-width: 350px;
  max-height: 350px; }

.project-card {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(12, 1fr);
  align-items: center; }
  .project-card:not(:last-of-type) {
    margin-bottom: 100px; }
  .project-card:nth-of-type(odd) .project-text-wrapper {
    grid-area: 1 / 1 / -1 / 7;
    grid-column: 1 / 9; }

.project-card a {
  text-decoration: none; }

.main-project-paragraph {
  vertical-align: middle;
  font-family: "Varela Round", sans-serif, sans-serif;
  color: #E5E5E5;
  text-align: left; }

.project-paragraph {
  font-family: "Varela Round", sans-serif, sans-serif;
  color: #E5E5E5;
  text-align: right; }

.project-title {
  font-family: "Varela Round", sans-serif, serif;
  vertical-align: middle;
  color: #63a313;
  text-align: left;
  font-size: 2em;
  margin-bottom: 0; }

.project-title-other {
  font-family: "Varela Round", sans-serif, serif;
  color: #63a313;
  text-align: right;
  font-size: 1.5em;
  margin-bottom: 0; }

.other-header {
  border-top: 1px dashed rgba(255, 255, 255, 0.75);
  padding-top: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  text-align: left; }

.project-header {
  font-size: 2em;
  text-align: left;
  display: flex;
  align-items: center; }
  .project-header::after {
    content: "";
    display: block;
    position: relative;
    width: 300px;
    height: 1px;
    margin-left: 20px;
    background-color: #E5E5E5; }

.project-text-wrapper {
  height: 100%;
  color: #3A383B;
  grid-area: 1 / 1 / -1 / 7;
  grid-column: 8 / -1;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.project-image__wrapper {
  grid-area: 1 / 6 / -1 / -1;
  grid-column: 1 / 8;
  cursor: pointer; }

.main-project-image-container {
  display: inline-block;
  width: 48%; }

.project-text-container {
  width: 48%;
  display: flex;
  flex-direction: column;
  align-items: flex-start; }

.main-project-button {
  border-radius: .15em;
  font-family: "Varela Round", sans-serif;
  font-size: 1.15em;
  border: none;
  border: 2px solid #63a313;
  color: #E5E5E5;
  padding: 0.67em;
  margin: 1em 0;
  text-decoration: none;
  transition: all ease 0.33s;
  cursor: pointer;
  background: transparent; }
  .main-project-button:hover {
    background: rgba(99, 163, 19, 0.2); }

.feature-project-container {
  color: #E5E5E5; }

.portfolio-full-container {
  position: relative; }

@media only screen and (max-width: 980px) {
  .main-project {
    display: table; }
  .project-text-container {
    width: auto;
    max-width: 25em;
    margin: 0 auto; }
  .main-project-image-container {
    display: table-header-group;
    margin: 0 auto; }
  .project-header::after {
    width: 200px; } }

@media only screen and (max-width: 768px) {
  .main-project-image-container {
    width: auto; }
  .project-text-container {
    width: 100%; }
  .main-portfolio-image {
    height: 25em; }
  .project-title {
    margin-bottom: 0; }
  .main-project-paragraph, .project-title {
    margin-top: 0.5em; }
  .main-project {
    margin: 2em auto 0.5em; }
  .project-paragraph {
    color: #E5E5E5;
    margin: 0.5em 0 0; } }

.experience p {
  font-family: "Varela Round", sans-serif, sans-serif;
  margin: 0 auto;
  font-weight: normal;
  width: 75%;
  padding-top: 2%;
  font-size: 1.5em;
  font-size: 1em;
  text-align: center; }

.experience {
  padding-top: 2%;
  padding-bottom: 5%;
  text-align: center;
  color: #3A383B;
  background: white;
  opacity: 0.9; }

.experience h2 {
  font-family: "Varela Round", sans-serif, serif; }

.contact {
  color: #E5E5E5;
  background-color: rgba(73, 81, 89, 0.95);
  margin: 0;
  text-align: center;
  bottom: 0;
  font-family: "Varela Round", sans-serif, sans-serif;
  opacity: 0.9;
  padding-bottom: 2.5%; }

.contact h1 {
  list-style-type: none;
  font-weight: normal;
  padding-top: 0.5em; }

.contact-link-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 0.25em;
  padding-top: 0.25em; }

.contact-link {
  display: inline-block;
  height: 16px;
  width: 16px;
  margin-left: 0.25em;
  margin-right: 0.25em;
  color: white; }

.blog-link {
  padding-top: 2px; }

.blog {
  color: white; }

.email-icon {
  background: url("../images/close-envelope.svg");
  background-repeat: no-repeat;
  background-size: contain;
  color: white; }

.linkedin-icon {
  background: url("../images/linkedin.svg");
  background-repeat: no-repeat;
  background-size: contain;
  color: white; }

.facebook-icon {
  background: url("../images/facebook.svg");
  background-repeat: no-repeat;
  background-size: contain;
  color: white; }

.twitter-icon {
  background: url("../images/twitter.svg");
  background-repeat: no-repeat;
  background-size: contain;
  color: white; }

.footer__header {
  font-size: 2em; }

.App {
  text-align: center;
  background: #1a242f; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white; }

.App-intro {
  font-size: large; }

* {
  box-sizing: border-box; }

h1 {
  margin: 0;
  font-weight: 300;
  font-family: "Varela Round", sans-serif, serif;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15); }

body {
  width: 100%;
  margin: 0;
  background: url("../images/IMG_1871.JPG") no-repeat center center fixed;
  background-attachment: fixed;
  background-size: cover;
  font-family: "Varela Round", sans-serif; }

a {
  text-decoration: none; }

.section-container {
  padding-left: 5em;
  padding-right: 5em;
  padding-top: 100px;
  padding-bottom: 100px; }

.flex-row {
  display: flex;
  justify-content: space-between;
  transition: all 1s ease-out; }

.header ul {
  margin: auto; }

.header li {
  display: inline-block;
  list-style-type: none; }

@media only screen and (max-width: 480px) {
  .App {
    padding: 0 25px; }
  .column {
    margin: 1% 0 1% 0%;
    width: 100%; } }

@media only screen and (max-width: 980px) {
  .introduction__container {
    width: auto; }
  .flex-row {
    display: block; }
  .column-3 {
    width: 20em !important;
    display: inline-block;
    padding: 1em; }
  .introduction-pic-container {
    display: block;
    width: 22em;
    margin: 0 auto; } }

@media only screen and (max-width: 870px) {
  .introduction {
    display: block;
    padding-bottom: 1em; }
  .introduction-pic {
    float: none; }
  .introduction__container {
    padding: 1em 0.5em 0.5em;
    margin: 0 auto; } }

@media only screen and (max-width: 768px) {
  .introduction__container {
    width: 90%;
    margin: 0 auto; }
  .introduction {
    padding-top: 100px; }
  .column-3 {
    padding: 1em 1em 0 0;
    display: block;
    margin: 0 auto; }
  .section-container {
    padding-left: 0;
    padding-right: 0; } }

@media only screen and (max-width: 400px) {
  .introduction-pic {
    width: 100%; }
  .introduction-pic-container {
    width: 100%; } }
