nav
  position: relative
  text-align: center
  z-index: 100

.header-last-name
  color: $colorPrimary

.headerNav
  background-color: $bodyBackground
  position: fixed
  width: 100%
  top: 0
  height: 100px
  padding-left: 50px
  padding-right: 50px
  display: flex
  justify-content: space-between
  align-items: center
  transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1)

.headerNav__scrolled
  transform: translateY(calc(100px * -1))

.links
  display: inline-block
  margin: 0 1.25em

.header-name
  color: #E5E5E5
  font-size: 2em

.nav-links
  float: right
  height: 100%
  display: flex
  align-items: center

.nav-links a
  font-family: $headerFont, serif
  text-decoration: none
  color: $lightFontColor
  transition: color ease 0.33s

  &:hover
    color: $colorPrimary

@media only screen and (max-width: 675px)
  .nav-links
    display: none

@media only screen and (max-width: 500px)
  .header-name
    padding: 0
    margin: 0 auto
    float: none
  .headerNav
    padding-left: 0
    padding-right: 0
    width: calc(100% - 50px)
